body {
    font-family: Arial, sans-serif;
    background-color: #c8b6a9bc;  /* Color damasco pastel */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Cambiado a min-height para permitir desplazamiento en pantallas pequeñas */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container, .table-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #555;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.actions button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.actions .update {
    background-color: #007bff;
    color: white;
}

.actions .delete {
    background-color: #dc3545;
    color: white;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    table {
        font-size: 0.9em;
    }

    .actions button {
        margin-top: 5px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    label {
        font-size: 0.9em;
    }

    input, button {
        font-size: 0.9em;
    }

    table {
        font-size: 0.8em;
    }

    .actions button {
        display: block;
        width: 100%;
        margin-top: 5px;
    }
}

